.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

.blue {background-color:#3CD3F3}
#opponents {background-color:#e9e9e9;color:black;margin:0;padding:0;list-style:none;text-shadow:none}
.challenger {border-bottom:1px solid #DCDCDC;padding-bottom:10px}
.opponent h3 {}
.avatar {height:55px;width:55px;float:left; padding: 9px;}
.venue span {font-weight:bold}
.challenge_button {float:right;color:white;background-color:#3296c4;margin:20px 20px 0 4px;padding:10px 20px}
.challenge_button a {color:white!important;text-decoration:none;text-shadow:none;font-size:.6em}
.challenge {padding:0!important}
.vitals {padding-top:12px;}
.vitals h3, .vitals p {padding:0;margin:0;line-height:1.2em;text-shadow:none}
.vitals p {font-size:.8em}

#signin {
	background-image: url('assets/signin.png');
	background-repeat: no-repeat;
	background-position: top -22px;
}
#connect_fq {
	position: absolute;
	top: 135px;
	left: 10px;
}

/** CSS for non-standard jQuery Mobile styles or Codiqa components **/
.split-wrapper {
  width: 100%;
  min-height: 200px;
  clear: both;
}
@media all and (min-width: 650px) {
	.content-secondary {
		text-align: left;
		float: left;
		width: 45%;
		background: none;
		padding: 1.5em 6% 3em 0;
		margin: 0;
	}
	.content-secondary {
    background: none;
    border-top: none;
	}
	.content-secondary .ui-collapsible {
		margin: 0;
		padding: 0;
	}
	.content-secondary .ui-collapsible-content {
		border: none;
	}
	.content-primary {
		width: 45%;
		float: right;
		margin-right: 1%;
		padding-right: 1%;
	}
	.content-primary ul:first-child {
		margin-top: 0;
	}
  .content-secondary ul.ui-listview, .content-secondary ul.ui-listview-inset {
    margin: 0;
  }
  .content-secondary ul.ui-listview .ui-li-divider, .content-secondary ul.ui-listview .ui-li {
    border-radius: 0px;
  }
  .content-secondary ul.ui-listview .ui-li {
    border-left: 0;
    border-right: 0;
  }
	.content-secondary h2 {
		position: absolute;
		left: -9999px;
	}
	.content-secondary .ui-collapsible-heading {
		display: none;
	}
	.content-secondary .ui-collapsible-contain {
		margin:0;
	}
	.content-secondary .ui-collapsible-content {
		display: block;
		margin: 0;
		padding: 0;
	}
	.content-secondary .ui-li-divider {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.content-secondary {
		margin: 0;
		padding: 0;
	}
  
}
@media all and (min-width: 750px){
	.content-secondary {
		width: 34%;
	}
	.content-primary {
		width: 60%;
		padding-right: 1%;
	}	
  .content-secondary ul.ui-listview-inset {
}

@media all and (min-width: 1200px){
	.content-secondary {
		width: 30%;
		padding-right:6%;
		margin: 0px 0 20px 5%;
	}
	.content-secondary ul {
    margin: 0;
  }
	.content-secondary {
		margin: 0;
		padding: 0;
	}
	.content-primary {
		width: 50%;
		margin-right: 5%;
		padding-right: 3%;
	}
	.content-primary {
		width: 60%;
	}
}

